

div.select-map-menu{
    display: flex;
    justify-content: center;
    gap: 5rem;
}


div.opts{
    display: grid;
    gap: 1rem;
    align-content: space-between;
}

div.tabela {
    max-width:1280px;
    margin: auto;
}

div.pic_mv{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);

}

div.lower_opts{
    display: grid;
    gap: 10px;
}